.cards {
	width: 530px;
	height: 720px;
	border: 2px solid red;
	display: inline-block;
	vertical-align:top;
}
.card {
	width: 200px;
	height: 300px;
	padding: 16px;
	border: 2px solid black;
	border-radius: 16px;
	display: inline-block;
	margin: 10px;
}

.controls {
	width: 200px;
	height: 720px;
	display: inline-block;
	border: 2px solid black;
	vertical-align:top;

}

.actionbutton {
	width: 150px;
	height: 32px;
	border: 2px solid black;
	margin: 16px;
	padding: 8px;
}

/* Control state */
.onChooseTarget {
	display: none;
	font-size: 32px;
}
.chooseTarget > .onChooseTarget {
	display: block;
}

.onWait {
	display: none;
	font-size: 32px;
}
.wait > .onWait {
	display: block;
}

.onChooseAction {
	display: none;
	font-size: 32px;
}
.chooseAction > .onChooseAction {
	display: block;
}