.cards {
	width: 530px;
	height: 720px;
	border: 2px solid red;
	display: inline-block;
	vertical-align:top;
}
.card {
	width: 200px;
	height: 300px;
	padding: 16px;
	border: 2px solid black;
	border-radius: 16px;
	display: inline-block;
	margin: 10px;
}

.controls {
	width: 140px;
	height: 720px;
	display: inline-block;
	border: 2px solid black;
	vertical-align:top;
	padding: 16px;
	text-align: center;
}

.actionbutton {
	width: 100px;
	height: 32px;
	border: 2px solid black;
	margin: 16px auto;
	padding: 8px;
}

.bar {
	width: 100px;
	height: 32px;
	background: white;
	border: 1px solid black;
	border-radius: 16px;
	margin: 16px auto;
}

.cooldown {
	height: 32px;
	background: #D0F272;
	border-radius:  16px;
}

/* Control state */
.onChooseTarget {
	display: none;
	font-size: 32px;
}
.chooseTarget > .onChooseTarget {
	display: block;
}

.onWait {
	display: none;
	font-size: 32px;
}
.wait > .onWait {
	display: block;
}

.onChooseAction {
	display: none;
	font-size: 32px;
}
.chooseAction > .onChooseAction {
	display: block;
}