.cards {
	width: 530px;
	height: 720px;
	border: 2px solid red;
	display: inline-block;
	vertical-align:top;
	-webkit-perspective:400px;
	-moz-perspective:100px;
}

.card {
	width: 232px; /*fit contents plus padding*/
	height: 332px;
	margin: 10px;
	position: relative;
	float: left;
}

.front, .back {
	position: absolute;
	width: 200px;
	height: 300px;
	padding: 16px;
	border: 1px solid #ccc;
	border-radius: 16px;
	display: inline-block;
	vertical-align: top;
	text-align: center;

	box-shadow: 	inset rgba(255,254,255,0.4) 0 0.3em .3em, 
					inset rgba(0,0,0,0.1) 0 -0.1em .3em, /* inner shadow */ 
					rgba(0,0,0,0.3) 0 .1em 1px, /* border */
					rgba(0,0,0,0.2) 0 .2em 6px; /* drop shadow */

	background-image:         linear-gradient(to bottom, white, #dddddd);

	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;

	transition: 1.6s;
	transform-style: preserve-3d;
}

/* flip the pane when hovered */
.card.dead .front {
	-webkit-transform: rotateY(180deg);
	-transform: rotateY(180deg);
}
.card.dead .back {
	-webkit-transform: rotateY(0deg);
	-transform: rotateY(0deg);
}

.back {
	-webkit-transform: rotateY(-180deg);
	-transform: rotateY(-180deg);
}

.controls {
	width: 140px;
	height: 720px;
	display: inline-block;
	border: 2px solid black;
	vertical-align:top;
	padding: 16px;
	text-align: center;
}

.actionbutton {
	width: 100px;
	height: 32px;
	border: 2px solid black;
	margin: 16px auto;
	padding: 8px;
	position: relative;
}

.bar {
	width: 192px;
	height: 32px;
	background: #ccc;
	border-radius: 16px;
	margin: 16px auto;
	position: relative;
	background-image: url(noise.png);
}

.cooldown {
	height: 20px;
	margin: 6px;
	background: hsl(208, 100%, 75%);
	border-radius:  16px;
	position: absolute;

	background-image: 	-webkit-gradient(radial, 50% 0, 100, 50% 0, 0, from( rgba(255,255,255,0) ), to( rgba(255,255,255,0.7) )), url(noise.png);
	background-image: 	-moz-radial-gradient(top, ellipse cover, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0) 100%), url(noise.png);
	background-image: 	gradient(radial, 50% 0, 100, 50% 0, 0, from( rgba(255,255,255,0) ), to( rgba(255,255,255,0.7) )), url(noise.png);
}

.label {
	width: 192px;
	position: absolute;
	margin-top: 6px;
	text-align: center;
}

/* cover tokens*/

.coverTokens {
	min-height: 64px; /* will keep two rows even if all tokens are removed*/
}

.coverToken {
	/*based on BonBon Buttons 1.1 by simurai.com*/
	width: 8px;
	height: 8px;

	padding-left: .8em;
	padding-right: .8em;
	border-radius: 1.5em / 1em;

	background-image: 	-webkit-gradient(radial, 50% 0, 100, 50% 0, 0, from( rgba(255,255,255,0) ), to( rgba(255,255,255,0.7) )), url(noise.png);
	background-image: 	-moz-radial-gradient(top, ellipse cover, rgba(255,255,255,0.7) 0%, rgba(255,255,255,0) 100%), url(noise.png);
	background-image: 	gradient(radial, 50% 0, 100, 50% 0, 0, from( rgba(255,255,255,0) ), to( rgba(255,255,255,0.7) )), url(noise.png);

	color: hsl(208, 50%, 40%);
	background-color: hsl(208, 100%, 75%);

	box-shadow: inset rgba(255,254,255,0.6) 0 0.3em .3em, inset rgba(0,0,0,0.15) 0 -0.1em .3em, /* inner shadow */ hsl(208, 50%, 55%) 0 .1em 3px, hsl(208, 50%, 40%) 0 .3em 1px, /* color border */ rgba(0,0,0,0.2) 0 .5em 5px;

	border-top: none;
	padding: .5em .6em .4em .6em;
	margin: .25em;
	display: inline-block;
	position: relative;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

/* key hints */

.keyhint {
	width: 16px;
	height: 16px;
	padding-right: 3px;
	padding-bottom: 3px;
	margin-left: -12px;
	margin-top: -12px;
	background: yellow;
	border: 1px solid black;
	position: absolute;
	display: none;
}

.keyhint.p1 {
	background: skyblue;
}

.cards .keyhint.p1 {
	margin-left: 200px;
}

.keyhints .keyhint {
	display: block;
}

.keyhints0 .keyhint.p0 {
	display: block;
}

.keyhints1 .keyhint.p1 {
	display: block;
}

/* Elements I might remove */
.energy, .dodge, .leadership, .aim, .cover {
	display: none;
}

/* Control panel state */
.onChooseTarget {
	display: none;
	font-size: 32px;
}
.chooseTarget > .onChooseTarget {
	display: block;
}

.onWait {
	display: none;
	font-size: 32px;
}
.wait > .onWait {
	display: block;
}

.onChooseAction {
	display: none;
	font-size: 32px;
}
.chooseAction > .onChooseAction {
	display: block;
}